In [20]:
import pandas as pd
import numpy as np
import os

import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.float_format', '{:.2f}'.format)

## 1. Nhập dữ liệu vào notebook

In [21]:
# path to file
data_folder = "./Data"
os.makedirs(data_folder, exist_ok=True)
# Path to the "full_grouped.csv" file in the "Data" folder
file_raw_path = os.path.join(data_folder, "raw.csv")
file_bef_path = os.path.join(data_folder, "bef.csv")

In [22]:
# read file
raw_df = pd.read_csv(file_raw_path)
# read file
bef_df = pd.read_csv(file_bef_path)

In [23]:
raw_df.shape

(4278759, 14)

In [24]:
bef_df.shape

(9797, 8)

In [25]:
raw_df.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-01-02 05:22:33,33.93911,67.709953,52513,2201,41727,8585,Afghanistan,134.89657830525067,4.191343095995277
1,NaN,NaN,NaN,Albania,2021-01-02 05:22:33,41.1533,20.1683,58316,1181,33634,23501,Albania,2026.409062478282,2.025173194320598
2,NaN,NaN,NaN,Algeria,2021-01-02 05:22:33,28.0339,1.6596,99897,2762,67395,29740,Algeria,227.80986075975434,2.7648477932270237
3,NaN,NaN,NaN,Andorra,2021-01-02 05:22:33,42.5063,1.5218,8117,84,7463,570,Andorra,10505.403481524623,1.0348650979425895
4,NaN,NaN,NaN,Angola,2021-01-02 05:22:33,-11.2027,17.8739,17568,405,11146,6017,Angola,53.45298103210258,2.305327868852459

In [26]:
bef_df.head()

,Province/State,Country/Region,Last Update,Latitude,Longitude,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,NaN,NaN,1.00,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,NaN,NaN,14.00,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,NaN,NaN,6.00,NaN,NaN
3,Cook Islands,New Zealand,1/22/2020 17:00,NaN,NaN,0.00,0.00,0.00
4,England,United Kingdom,1/22/2020 17:00,NaN,NaN,0.00,0.00,0.00

In [27]:
raw_df.tail()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
4278754,NaN,NaN,NaN,Winter Olympics 2022,2023-01-01 04:21:00,39.9042,116.4074,535,0,NaN,NaN,Winter Olympics 2022,NaN,0.0
4278755,NaN,NaN,NaN,Yemen,2023-01-01 04:21:00,15.552727,48.516388,11945,2159,NaN,NaN,Yemen,40.04899354817252,18.07450816241105
4278756,NaN,NaN,NaN,Zambia,2023-01-01 04:21:00,-13.133897,27.849332,334425,4024,NaN,NaN,Zambia,1819.1133616725367,1.2032593257083053
4278757,NaN,NaN,NaN,Zimbabwe,2023-01-01 04:21:00,-19.015438,29.154857,259981,5637,NaN,NaN,Zimbabwe,1749.1911250051892,2.168235371046346
4278758,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
# Xóa dòng có index là 4278758
raw_df = raw_df.drop(index=4278758)

# Reset index cho DataFrame và loại bỏ cột index cũ nếu không muốn giữ
raw_df = raw_df.reset_index(drop=True)
raw_df.tail()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
4278753,NaN,NaN,NaN,West Bank and Gaza,2023-01-01 04:21:00,31.9522,35.2332,703228,5708,NaN,NaN,West Bank and Gaza,13784.956960969268,0.8116855415313383
4278754,NaN,NaN,NaN,Winter Olympics 2022,2023-01-01 04:21:00,39.9042,116.4074,535,0,NaN,NaN,Winter Olympics 2022,NaN,0.0
4278755,NaN,NaN,NaN,Yemen,2023-01-01 04:21:00,15.552727,48.516388,11945,2159,NaN,NaN,Yemen,40.04899354817252,18.07450816241105
4278756,NaN,NaN,NaN,Zambia,2023-01-01 04:21:00,-13.133897,27.849332,334425,4024,NaN,NaN,Zambia,1819.1133616725367,1.2032593257083053
4278757,NaN,NaN,NaN,Zimbabwe,2023-01-01 04:21:00,-19.015438,29.154857,259981,5637,NaN,NaN,Zimbabwe,1749.1911250051892,2.168235371046346

In [29]:
bef_df.tail()

,Province/State,Country/Region,Last Update,Latitude,Longitude,Confirmed,Deaths,Recovered
9792,Tennessee,US,3/21/2020 23:13,35.75,-86.69,371.00,1.00,0.00
9793,Wisconsin,US,3/21/2020 23:13,44.27,-89.62,282.00,4.00,0.00
9794,NaN,Cape Verde,3/21/2020 23:43,15.11,-23.62,1.00,0.00,0.00
9795,NaN,Papua New Guinea,3/21/2020 23:43,-6.32,143.96,1.00,0.00,0.00
9796,NaN,Uganda,3/21/2020 23:43,1.00,32.00,1.00,0.00,0.00

In [30]:
raw_df.dtypes

FIPS                   object
Admin2                 object
Province_State         object
Country_Region         object
Last_Update            object
Lat                    object
Long_                  object
Confirmed              object
Deaths                 object
Recovered              object
Active                 object
Combined_Key           object
Incident_Rate          object
Case_Fatality_Ratio    object
dtype: object

In [31]:
# Định nghĩa hàm kiểm tra khả năng chuyển đổi
def can_convert_to_float(value):
    try:
        np.float64(value)
        return True
    except ValueError:
        return False
    except TypeError:
        return False

# Áp dụng hàm này và lọc ra những dòng không thể chuyển đổi
rows_with_unconvertible_lat = raw_df[~raw_df['Lat'].apply(can_convert_to_float)]

raw_df.drop(rows_with_unconvertible_lat.index, inplace=True)

In [32]:
raw_df = raw_df.reset_index(drop=True)
raw_df.tail()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
4277671,NaN,NaN,NaN,West Bank and Gaza,2023-01-01 04:21:00,31.9522,35.2332,703228,5708,NaN,NaN,West Bank and Gaza,13784.956960969268,0.8116855415313383
4277672,NaN,NaN,NaN,Winter Olympics 2022,2023-01-01 04:21:00,39.9042,116.4074,535,0,NaN,NaN,Winter Olympics 2022,NaN,0.0
4277673,NaN,NaN,NaN,Yemen,2023-01-01 04:21:00,15.552727,48.516388,11945,2159,NaN,NaN,Yemen,40.04899354817252,18.07450816241105
4277674,NaN,NaN,NaN,Zambia,2023-01-01 04:21:00,-13.133897,27.849332,334425,4024,NaN,NaN,Zambia,1819.1133616725367,1.2032593257083053
4277675,NaN,NaN,NaN,Zimbabwe,2023-01-01 04:21:00,-19.015438,29.154857,259981,5637,NaN,NaN,Zimbabwe,1749.1911250051892,2.168235371046346

In [33]:
num_cols = ['Lat','Long_','Confirmed','Deaths','Recovered','Active','Incident_Rate','Case_Fatality_Ratio']
raw_df[num_cols]=raw_df[num_cols].astype(np.float64)
raw_df.dtypes

FIPS                    object
Admin2                  object
Province_State          object
Country_Region          object
Last_Update             object
Lat                    float64
Long_                  float64
Confirmed              float64
Deaths                 float64
Recovered              float64
Active                 float64
Combined_Key            object
Incident_Rate          float64
Case_Fatality_Ratio    float64
dtype: object

In [34]:
bef_df.dtypes

Province/State     object
Country/Region     object
Last Update        object
Latitude          float64
Longitude         float64
Confirmed         float64
Deaths            float64
Recovered         float64
dtype: object

In [35]:
bef_df.columns = ['Province_State', 'Country_Region', 'Last_Update', 'Lat', 'Long_', 'Confirmed', 'Deaths', 'Recovered']

In [36]:

# Nối DataFrame dựa trên các cột cùng tên
#merged_df = pd.merge(raw_df, bef_df, how='outer', left_on=['Province_State', 'Country_Region', 'Last_Update','Lat',	'Long_', 'Confirmed', 'Deaths', 'Recovered'], right_on=['Province/State', 'Country/Region', 'Last Update', 'Latitude', 'Longitude', 'Confirmed', 'Deaths', 'Recovered'])
merged_df=pd.concat([raw_df,bef_df], ignore_index=True, sort=False)
# Xóa các cột dư thừa sau khi nối
#merged_df.drop(columns=['Province/State', 'Country/Region', 'Last Update'], inplace=True)

# Hiển thị kết quả
merged_df.sample(20)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
3530576,48111,Dallam,Texas,US,2022-10-31 04:21:36,36.28,-102.60,2330.00,44.00,NaN,NaN,"Dallam, Texas, US",31974.75,1.89
1461060,41047,Marion,Oregon,US,2022-05-10 04:20:50,44.90,-122.58,70376.00,720.00,NaN,NaN,"Marion, Oregon, US",20233.57,1.02
1968480,51071,Giles,Virginia,US,2021-06-23 04:21:46,37.31,-80.71,1329.00,22.00,NaN,NaN,"Giles, Virginia, US",7948.56,1.66
2658664,13081,Crisp,Georgia,US,2021-08-20 04:21:33,31.92,-83.77,2446.00,94.00,NaN,NaN,"Crisp, Georgia, US",10933.31,3.84
1391134,2185,North Slope,Alaska,US,2022-05-04 04:20:59,69.31,-153.48,4459.00,11.00,NaN,NaN,"North Slope, Alaska, US",45351.91,0.25
4081773,5011,Bradley,Arkansas,US,2022-12-16 04:21:01,33.47,-92.16,3511.00,57.00,NaN,NaN,"Bradley, Arkansas, US",32621.02,1.62
360484,45045,Greenville,South Carolina,US,2023-01-31 04:20:32,34.90,-82.37,204588.00,2111.00,NaN,NaN,"Greenville, South Carolina, US",39077.67,1.03
3528751,19167,Sioux,Iowa,US,2022-10-31 04:21:36,43.08,-96.18,8589.00,91.00,NaN,NaN,"Sioux, Iowa, US",24642.09,1.06
1184485,22125,West Feliciana,Louisiana,US,2020-04-15 22:56:51,30.88,-91.41,47.00,0.00,0.00,47.00,"West Feliciana, Louisiana, US",NaN,NaN
3844350,NaN,NaN,Bremen,Germany,2020-11-27 05:26:53,53.08,8.80,9642.00,114.00,7812.00,1831.00,"Bremen, Germany",1434.73,1.18
3462061,72073,Jayuya,Puerto Rico,US,2020-10-26 04:25:02,18.21,-66.59,283.00,0.00,0.00,283.00,"Jayuya, Puerto Rico, US",2037.29,0.00
249586,NaN,NaN,NaN,Togo,2023-01-22 04:20:59,8.62,0.82,39353.00,290.00,NaN,NaN,Togo,475.35,0.74
3601726,31011,Boone,Nebraska,US,2022-11-06 04:21:24,41.71,-98.07,1196.00,13.00,NaN,NaN,"Boone, Nebraska, US",23035.44,1.09
4168036,38089,Stark,North Dakota,US,2022-12-23 04:21:04,46.81,-102.66,13523.00,86.00,NaN,NaN,"Stark, North Dakota, US",42884.82,0.64
2909341,48197,Hardeman,Texas,US,2020-09-10 04:29:01,34.29,-99.75,27.00,0.00,0.00,22.00,"Hardeman, Texas, US",559.37,0.00
1086972,17009,Brown,Illinois,US,2021-04-07 04:20:53,39.96,-90.75,681.00,6.00,NaN,NaN,"Brown, Illinois, US",10352.69,0.88
1091350,20093,Kearny,Kansas,US,2022-04-07 04:20:53,38.00,-101.32,1234.00,20.00,NaN,NaN,"Kearny, Kansas, US",32152.16,1.62
3402714,55025,Dane,Wisconsin,US,2020-10-21 04:24:14,43.07,-89.42,13362.00,46.00,0.00,13316.00,"Dane, Wisconsin, US",2444.14,0.34
2556526,72005,Aguadilla,Puerto Rico,US,2022-08-11 04:20:49,18.46,-67.12,12560.00,0.00,NaN,NaN,"Aguadilla, Puerto Rico, US",24987.57,0.00
3352115,17167,Sangamon,Illinois,US,2020-10-17 04:24:12,39.76,-89.66,3293.00,54.00,0.00,3239.00,"Sangamon, Illinois, US",1691.56,1.64

In [37]:
# Hiển thị kết quả
merged_df.tail(20)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
4287453,NaN,NaN,Alabama,US,3/21/2020 23:13,32.32,-86.90,131.00,0.00,0.00,NaN,NaN,NaN,NaN
4287454,NaN,NaN,Alaska,US,3/21/2020 23:13,61.37,-152.40,15.00,0.00,0.00,NaN,NaN,NaN,NaN
4287455,NaN,NaN,Arizona,US,3/21/2020 23:13,33.73,-111.43,118.00,1.00,0.00,NaN,NaN,NaN,NaN
4287456,NaN,NaN,Colorado,US,3/21/2020 23:13,39.06,-105.31,390.00,4.00,0.00,NaN,NaN,NaN,NaN
4287457,NaN,NaN,Delaware,US,3/21/2020 23:13,39.32,-75.51,45.00,0.00,0.00,NaN,NaN,NaN,NaN
4287458,NaN,NaN,Florida,US,3/21/2020 23:13,27.77,-81.69,659.00,13.00,0.00,NaN,NaN,NaN,NaN
4287459,NaN,NaN,Illinois,US,3/21/2020 23:13,40.35,-88.99,753.00,6.00,0.00,NaN,NaN,NaN,NaN
4287460,NaN,NaN,Indiana,US,3/21/2020 23:13,39.85,-86.26,128.00,4.00,0.00,NaN,NaN,NaN,NaN
4287461,NaN,NaN,Kansas,US,3/21/2020 23:13,38.53,-96.73,57.00,2.00,0.00,NaN,NaN,NaN,NaN
4287462,NaN,NaN,Maine,US,3/21/2020 23:13,44.69,-69.38,70.00,0.00,0.00,NaN,NaN,NaN,NaN
4287463,NaN,NaN,Maryland,US,3/21/2020 23:13,39.06,-76.80,193.00,2.00,0.00,NaN,NaN,NaN,NaN
4287464,NaN,NaN,Massachusetts,US,3/21/2020 23:13,42.23,-71.53,525.00,1.00,0.00,NaN,NaN,NaN,NaN
4287465,NaN,NaN,North Carolina,US,3/21/2020 23:13,35.63,-79.81,253.00,0.00,0.00,NaN,NaN,NaN,NaN
4287466,NaN,NaN,North Dakota,US,3/21/2020 23:13,47.53,-99.78,28.00,0.00,0.00,NaN,NaN,NaN,NaN
4287467,NaN,NaN,Oregon,US,3/21/2020 23:13,44.57,-122.07,114.00,5.00,0.00,NaN,NaN,NaN,NaN
4287468,NaN,NaN,Tennessee,US,3/21/2020 23:13,35.75,-86.69,371.00,1.00,0.00,NaN,NaN,NaN,NaN
4287469,NaN,NaN,Wisconsin,US,3/21/2020 23:13,44.27,-89.62,282.00,4.00,0.00,NaN,NaN,NaN,NaN
4287470,NaN,NaN,NaN,Cape Verde,3/21/2020 23:43,15.11,-23.62,1.00,0.00,0.00,NaN,NaN,NaN,NaN
4287471,NaN,NaN,NaN,Papua New Guinea,3/21/2020 23:43,-6.32,143.96,1.00,0.00,0.00,NaN,NaN,NaN,NaN
4287472,NaN,NaN,NaN,Uganda,3/21/2020 23:43,1.00,32.00,1.00,0.00,0.00,NaN,NaN,NaN,NaN

In [38]:
merged_df.shape

(4287473, 14)